/*
* Source Han Sans K http://typekit.com/fonts
 */

@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 100;
    src: local('Source Han Sans K ExtraLight'), local('SourceHanSansK-ExtraLight'), local('Noto Sans CJK KR Thin'), local('NotoSansCJKkr-Thin'), local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), local('Noto Sans Korean Thin'), url(SourceHanSansK-ExtraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 300;
    src: local('Source Han Sans K Normal'), local('SourceHanSansK-Normal'), local('Noto Sans CJK KR Light'), local('NotoSansCJKkr-Light'), local('Noto Sans KR Light'), local('NotoSansKR-Light'), local('Noto Sans Korean Light'), url(SourceHanSansK-Normal.otf) format('opentype');
}
@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 400;
    src: local('Source Han Sans K Regular'), local('SourceHanSansK-Regular'), local('Noto Sans CJK KR Regular'), local('NotoSansCJKkr-Regular'), local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), local('Noto Sans Korean Regular'), url(SourceHanSansK-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 500;
    src: local('Source Han Sans K Medium'), local('SourceHanSansK-Medium'), local('Noto Sans CJK KR Medium'), local('NotoSansCJKkr-Medium'), local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), local('Noto Sans Korean Medium'), url(SourceHanSansK-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 700;
    src: local('Source Han Sans K Bold'), local('SourceHanSansK-Bold'), local('Noto Sans CJK KR Bold'), local('NotoSansCJKkr-Bold'), local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), local('Noto Sans Korean Bold'), url(SourceHanSansK-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Source Han Sans K';
    font-style: normal;
    font-weight: 900;
    src: local('Source Han Sans K Heavy'), local('SourceHanSansK-Heavy'), local('Noto Sans CJK KR Black'), local('NotoSansCJKkr-Black'), local('Noto Sans KR Black'), local('NotoSansKR-Black'), local('Noto Sans Korean Black'), url(SourceHanSansK-Heavy.otf) format('opentype');
}