/*
* Source Han Sans TC http://typekit.com/fonts
 */

@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 100;
    src: local('Source Han Sans TC ExtraLight'), local('SourceHanSansTC-ExtraLight'), local('Noto Sans CJK TC Thin'), local('NotoSansCJKtc-Thin'), local('Noto Sans TC Thin'), local('NotoSansTC-Thin'), local('Noto Sans T Chinese Thin'), local('NotoSansHant-Thin'), url(SourceHanSansTC-ExtraLight.otf);
}
@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 300;
    src: local('Source Han Sans TC Normal'), local('SourceHanSansTC-Normal'), local('Noto Sans CJK TC Light'), local('NotoSansCJKtc-Light'), local('Noto Sans TC Light'), local('NotoSansTC-Light'), local('Noto Sans T Chinese Light'), local('NotoSansHant-Light'), url(SourceHanSansTC-Normal.otf);
}
@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 400;
    src: local('Source Han Sans TC Regular'), local('SourceHanSansTC-Regular'), local('Noto Sans CJK TC Regular'), local('NotoSansCJKtc-Regular'), local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), local('Noto Sans T Chinese Regular'), local('NotoSansHant-Regular'), url(SourceHanSansTC-Regular.otf);
}
@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 500;
    src: local('Source Han Sans TC Medium'), local('SourceHanSansTC-Medium'), local('Noto Sans CJK TC Medium'), local('NotoSansCJKtc-Medium'), local('Noto Sans TC Medium'), local('NotoSansTC-Medium'), local('Noto Sans T Chinese Medium'), local('NotoSansHant-Medium'), url(SourceHanSansTC-Medium.otf);
}
@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 700;
    src: local('Source Han Sans TC Bold'), local('SourceHanSansTC-Bold'), local('Noto Sans CJK TC Bold'), local('NotoSansCJKtc-Bold'), local('Noto Sans TC Bold'), local('NotoSansTC-Bold'), local('Noto Sans T Chinese Bold'), local('NotoSansHant-Bold'), url(SourceHanSansTC-Bold.otf);
}
@font-face {
    font-family: 'Source Han Sans TC';
    font-style: normal;
    font-weight: 900;
    src: local('Source Han Sans TC Heavy'), local('SourceHanSansTC-Heavy'), local('Noto Sans CJK TC Black'), local('NotoSansCJKtc-Black'), local('Noto Sans TC Black'), local('NotoSansTC-Black'), local('Noto Sans T Chinese Black'), local('NotoSansHant-Black'), url(SourceHanSansTC-Heavy.otf);
}